{% extends "AppBlog/padre.html" %}

{% load static %}

{% block headear %}


<ul>
  
    <li> <a href="{% url 'inicio' %}">Inicio</a></li>
    <li> <a href="{% url 'crear_post' %}">Crear Posteo</a></li>
    <li> <a href="{% url 'buscar_posteo' %}">Buscar Posteo</a></li>  <!--Blog-->
   
  
</ul>
{% endblock %}


{% block titulo %}
<div class="titulo"> <h2>Tus Posteos</h2></div>
<img src= "{{ imagen }}" alt="" width="150px">
{% endblock %}


{% block targetas %}

<section class="targetas_grid-container">
 

  <div class="sobremi_div">
    <h2 >{{ post.titulo|safe }}</h2 >

  </div>
 
<div class="targetas_flex-container">
  {% for post in posteos %} 
  <div class="targetas">
    
      <a href="{% url 'ver_posteo' post.titulo %}">  <h2>{{ post.imagen|safe }}</h2></a>
      <h4>{{ post.titulo|safe }}</h4>
     
     <br></br>
     
     <br>  <a href="{% url 'eliminar_post_individual' post.id %}">Eliminar Posteo</a>      </br>
      <a href="{% url 'editar_posteo' post.id %}">Modificar Posteo</a>
  </div>
  {% endfor %}    
</div> 

</section>



{% endblock %}

