*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body{
    width: 100%;
    height: 100%;
}

.background{
    background-image: url("../img/ciudad_noche.jpg");
   
    background-size: 100%;
    background-size:cover;
    background-position:center top;
}

/* ----- HEADER ---- */
.header{
    display: grid;
    height: 50px;
}

.header ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 30px;
    text-align: center;
}

.header ul {
    display: flex;
    justify-content: flex-end;
    justify-items:center;
    list-style: none;
    height: 100%;
}

.header ul li{
    display: flex;
    justify-items:center;
    height: 100%;
    text-align: center;
    font-size: 20px;
}

/*-----MAIN-----*/

.grid_main-container{
  /*  background-image: url("../img/escritorioBYN.png");*/
    background-size: 100%;
    background-size:cover;
    background-position:center top;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 250px);

}

.container_section_1{
    
grid-column: 3/7;
grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  
  color: rgb(255, 255, 255);
  

}

.nombre{
    font-size: 30px;
    margin-bottom: 5%;
    
}

.titulo{
   
    font-size: 60px;
    margin-bottom: 5%;
}

.anio{
    grid-row: 4/6;
    padding-top: px;
    font-size: 30px;
}

/*----SOBRE MI----*/

.container_section_2{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);

    background-color: rgb(38, 38, 39);

    color: white;
}





.container_section_3{
    background-color: rgb(23, 23, 23);
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
}




.targetas_grid-container{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(4,1fr);
    background-color: rgb(23, 23, 23);
    
}

.sobremi_div{
    color: white;
    grid-column: 2/8;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-end;
    margin: 100px;
    
    }
    
    .sobremi_div h2{
        margin-top: 50px;
    }
    

.targetas_flex-container{
    grid-column: 1/9;
    grid-row: 2/4;
    width: 100%;
    max-width: 1800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.targetas{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 50px;
    text-align: center;
    transition: all 0.25s;
    background-color: white;
}

.targetas:hover{
transform:  translateY(-15px);
box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}

.targetas img{
width: 330px;
height: 220px;
}

.targetas h4{
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 20px;
}

.targetas p{
    padding:  0 1rem;
    font-size: 16px;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.targetas a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
    
}

/*-----SECTION 3-----*/
.container_section_3{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(6,1fr);
    background-color: rgb(38, 38, 39);
}

.texto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    grid-column: 2/8;
     
    margin-top: 50px;
   
}


.texto h2{
    color: white;
    margin-bottom: 10px;
}





/*-----FOOTER-----*/




.footer_grid-container{
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    
    background-color: rgb(23, 23, 23);

}


/*-----ingresar.html-----*/

.formulario{
    color: aqua;
    margin: 50px;
}

.form{
    margin: 40px;
}