{% extends "AppWEB/padre.html" %}

{% load static %}


{% block contenido_medio %}
        
<h1 style="margin-left:30rem">LSITADO DE AUTOS</h1>

{{message}}

<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
    {% for auto in object_list %}

    <div class="card" style="width: 18rem;">
       
        
        
        <div class="card-body">
            <h5 class="card-title">{{auto.marca}}</h5>
            <p class="card-text">{{auto.region}}</p>
            <p class="card-text">{{auto.color}}</p>
           <!-- <a href="/products/detail-product/{{auto.id}}/" class="btn btn-primary">Ver mas!</a>-->
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}