{% extends "AppWEB/padre.html" %}
{% load static %}


{% block contenido_medio %}

   
 
<h1 style="margin-left:30rem">Lista de AUTOS</h1>
<div class="d-flex" style="margin-top:5rem; margin-left:7rem">

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{auto.marca}}</h5>
            <p class="card-text">{{auto.modelo}}</p>
            <p class="card-text">{{auto.anio}}</p>
            <a href="/products/update-product/{{object.id}}/" class="btn btn-primary">Editar</a>
            <a href="/products/delete-product/{{object.id}}/" class="btn btn-danger">Eliminar</a>
        </div>
    </div>

</div>
                          


{% endblock %}
<!--
{% if fformulario.errors %}

<p style = "color: red;"> Estan mal los datos, revisar </p>

{% endif %}

{% block contenido_cambia %}


<form action="" method="POST">{% csrf_token %}

    <table>

          {{ fformulario.as_table}}
        
    </table>

   <input type="submit", value=  "enviar">



</form>
{% endblock %}
-->