{% extends "AppWEB/padre.html" %}
{% load static %}


{% block cambio_titulo %}


<h1>Formulario de autos</h1>

        
 
<form method="POST"> {% csrf_token %}
      <table>
  
          {{ form.as_table }}
       
      </table>

      <input type = "submit" value = "Guardar">
  </form>                           


{% endblock %}
<!--
{% if fformulario.errors %}

<p style = "color: red;"> Estan mal los datos, revisar </p>

{% endif %}

{% block contenido_cambia %}


<form action="" method="POST">{% csrf_token %}

    <table>

          {{ fformulario.as_table}}
        
    </table>

   <input type="submit", value=  "enviar">



</form>
{% endblock %}
-->