{% extends "AppBlog/padre.html" %}
{% load static %}

{% block headear %}
<img src= "{{ imagen }}" alt="" width="150px">
<div class="titulo"><h1> <a href="{% url 'inicio' %}">Prosophy</a></h1></div>
<nav>
    <ul class = "menu_horizontal">
       
       
        <li> 
            <a href="#">Cuenta</a>
            
            <ul class ="menu_vertical">
              <li> <a href="{% url 'lista_usuarios' %}">Datos personales</a></li>
              <li> <a href="{% url 'editar_perfil' %}">Datos de cuenta</a></li>
              <li> <a href="{% url 'agregar_avatar' %}">Avatar</a></li>
              <li> <a href="{% url 'logout' %}"> Logout </a></li>
            </ul>   
        </li>
          <!--Blog-->
          <!--Blog-->
        
        <li> 
            <a href="#">Posteos</a>
            
            <ul class ="menu_vertical">
                <li> <a href="{% url 'lista_post' %}">Tus posteos</a></li>
                <li> <a href="{% url 'crear_post' %}">Crear Posteo</a></li>
            </ul>   
        </li>
       
    </ul>
</nav>
{% endblock %}
<br></br>
    <br></br>
    <br></br>
{% block titulo %}
<div class="titulo"><h1>Avatar de {{ usuario }}</h1></div>
    

<h1>Agregar Avatar</h1>
<div class = "formulario"> 
<form class ="form" action="{% url 'agregar_avatar' %}" , method = "POST" enctype = 'multipart/form-data'>{% csrf_token %}

    <table>
         {{ form.as_table }}
    </table>

    <button type ="submit">Agregar avatar</button>
  
</form>
</div>
{% endblock %}