{% extends "AppBlog/padre.html" %}
{% load static %}

{% block headear %}
<ul>
    <li> <a href="{% url 'inicio' %}">inicio</a></li>  <!--Blog-->
   
    <li> <a href="{% url 'llenar_formulario' %}">Borras tus datos</a></li>
    <li> <a href="{% url 'logout' %}"> Logout </a></li> <!--Proyectos--> 
</ul>
{% endblock %}


{% block titulo %}
<div class="titulo"><h1>Completa el formulario</h1></div>
{{ mensaje }}
<div class = "formulario"> 
<form action="{% url 'llenar_formulario' %}" , method = "POST">{% csrf_token %}

    <table>
         {{ formulario.as_table }}
    </table>

    <input type="submit" ,value = "Guardar">

</form>

</div>
{% endblock %}