{% extends "AppBlog/padre.html" %}
{% load static %}

{% block headear %}
<ul>
    <li> <a href="{% url 'inicio' %}">Inicio</a></li>
</ul>
{% endblock %}
{% block titulo %}
<div class="titulo"><h1>Login</h1></div>
    
<h2>Formulario ingreso</h2>
<br></br>
<h3>Si no tiene cuenta, entonces</h3>
<a href="{% url 'registro' %}">Crear cuenta</a>

<h1>{{ mensaje }}</h1>
<div class = "formulario"> 
<form class ="form" action="{% url 'login' %}" , method = "POST">{% csrf_token %}

    <table>
         {{ form.as_table }}
    </table>

    <input type="submit" value = "Guardar">
  
</form>
</div>
{% endblock %}