{% extends "AppBlog/padre.html" %}
{% load static %}

{% block headear %}

    <div class="titulo"><h1> <a href="{% url 'inicio' %}">Prosophy</a></h1></div>
   
{% endblock %}


{% block titulo %}
<div class="titulo_login"><h1>Login</h1></div>
    
<h3>Si no tiene cuenta, entonces</h3>
<a href="{% url 'registro' %}">Crear cuenta</a>
 
 {% for message in messages %}
 <br></br>
    {{ message }}
    {% endfor %}

<h1>{{ mensaje }}</h1>

<div class = "formulario"> 
    <form class ="form" action="{% url 'login' %}" , method = "POST">{% csrf_token %}

     <table>
             {{ form.as_table }}
     </table>

     <input type="submit" value = "Ingresar">
  
    </form>
</div>
{% endblock %}

{% block targetas %}
{% endblock %}